<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439411967957-r1o1v4rh3sqv5am869gdmosmthku9fpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439411967957-r1o1v4rh3sqv5am869gdmosmthku9fpe</string>
	<key>API_KEY</key>
	<string>AIzaSyDzO4cC8Fii_K6IOh7YEd5v88e0dW5G8O8</string>
	<key>GCM_SENDER_ID</key>
	<string>439411967957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seaventu</string>
	<key>PROJECT_ID</key>
	<string>seaventure-e4ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>seaventure-e4ddc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439411967957:ios:76c75b12ec4447cc239f5c</string>
</dict>
</plist>